###############################################################################
# KUBERNETES SECRETS - DATABASE CREDENTIALS
#
# IMPORTANT: In production, use Cloud SQL Proxy or Workload Identity!
# These credentials are base64 encoded (NOT encrypted!)
###############################################################################

apiVersion: v1
kind: Secret
metadata:
  name: db-credentials
  namespace: voting-app
type: Opaque
stringData:
  DB_HOST: "35.202.121.162"  # Cloud SQL private IP
  DB_PORT: "3306"
  DB_USER: "voting_user"
  DB_PASSWORD: "G@ArAV5_Sxj6kLjb=<b&!PUP)#KJH0+w"  # From Terraform
  DB_NAME: "voting_app_k8s"

---
apiVersion: v1
kind: ConfigMap
metadata:
  name: app-config
  namespace: voting-app
data:
  DEPLOYMENT_MODE: "kubernetes"
  FRONTEND_URL: "http://localhost"
  BACKEND_PORT: "8000"
  DEBUG: "False"
